:root {
  --theme-text-color: #333;
  --theme-table-background: white;
  --theme-checkbox-checked-bg: #4c91dc;
  --theme-checkbox-checked-mark: white;
}

html,
body {
  background-color: rgb(247, 247, 247);
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: var(--theme-text-color);
  padding: 2rem;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
