<script>
  import SelecTable from "./SelecTable.svelte";
  import Checkbox from "./Checkbox.svelte";
  import { createEventDispatcher } from "svelte";

  export let files;

  let columns = [
    { field: "name", label: "Name", ariaLabel: (d) => `select ${d.name}` },
    { field: "device", label: "Device" },
    { field: "path", label: "Path" },
    {
      field: "status",
      label: "Status",
      dataClass: (d, c) => `status_cell status-${d[c.field]}`,
    },
  ];

  $: downloadable = files.filter((f) => f.status === "available");

  const dispatch = createEventDispatcher();
  let selected = [];
  let tableSelectAll;
</script>

<header>
  <div class="select-all_cb">
    <Checkbox
      ariaLabel={downloadable.length === selected.length
        ? "deselect all"
        : "select all"}
      on:click={tableSelectAll}
      disabled={!downloadable.length}
      checked={selected.length === 0
        ? false
        : downloadable.length === selected.length
        ? true
        : null}
    />
  </div>
  <div role="status" aria-live="polite">
    {selected.length ? `Selected ${selected.length}` : "None Selected"}
  </div>
  <button
    class="button__icon"
    disabled={!selected.length}
    on:click={() => dispatch("download", selected)}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
    Download Selected
  </button>
</header>
<div style="overflow: auto;">
  <SelecTable
    {columns}
    data={files}
    bind:selected
    bind:selectAll={tableSelectAll}
    canSelect={(d) => d.status === "available"}
    ariaLabelSelect={(d) => `select ${d.name}`}
  />
</div>

<style>
  header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--theme-table-background);
  }
  header > * {
    margin: 0 1rem;
  }

  .button__icon {
    height: 3rem;
    display: flex;
    align-items: center;
    background: none;
    border: none;
  }
  .button__icon:focus {
    outline: 1px solid #ccc;
  }
  .button__icon svg {
    height: 1.25em;
    width: 1.25em;
    margin: 0 0.25em;
  }

  .select-all_cb {
    font-size: 0.8rem;
  }

  :global(.status_cell) {
    text-transform: capitalize;
    padding-left: 1rem;
  }

  :global(.status-available) {
    position: relative;
    padding-left: 1rem;
  }
  :global(.status-available::before) {
    content: "";
    background-color: #7ed232;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: calc(50% - 0.25rem);
    left: 0rem;
    border-radius: 50%;
  }
</style>
