<script>
  import Checkbox from "./Checkbox.svelte";

  export let columns = [];
  export let data = [];
  export let selected = [];
  export let canSelect = (d) => true;
  export let ariaLabelSelect = (d) => "select";

  const SELECTED = Symbol("selected");

  export const selectAll = () => {
    const selectable = data.filter((d) => canSelect(d)).length;
    const doSelectAll = selectable !== selected.length;
    data.forEach((d, k) => {
      d[SELECTED] = canSelect(d) && doSelectAll;
    });
    data = data;
  };

  $: {
    selected = data.filter((d) => d[SELECTED]);
  }
</script>

<table
  aria-multiselectable="true"
  role="grid"
  aria-rowcount={data.length}
  aria-label="select files to download"
>
  <thead>
    <tr>
      <td />
      {#each columns as col}
        <th scope="col">{col.label}</th>
      {/each}
    </tr>
  </thead>
  <tbody>
    {#each data as item, idx}
      <tr
        class:selected={item[SELECTED]}
        aria-selected={canSelect(item) ? !!item[SELECTED] : undefined}
      >
        <td class="selectable_cell"
          ><Checkbox
            ariaLabel={ariaLabelSelect(item)}
            bind:checked={item[SELECTED]}
            disabled={!canSelect(item)}
          /></td
        >
        {#each columns as col}
          <td class={col.dataClass ? col.dataClass(item, col) : ""}
            >{item[col.field]}</td
          >
        {/each}</tr
      >
    {/each}
  </tbody>
</table>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th {
    line-height: 3rem;
    vertical-align: text-bottom;
    padding: 0 1rem;
    font-weight: normal;
    text-align: left;
    background-color: var(--theme-table-background, white);
  }
  td {
    line-height: 2rem;
    vertical-align: middle;
    padding: 0 1rem;
    font-size: 0.8em;
    white-space: nowrap;
  }
  tbody tr td {
    border-top: 1px solid #ccc;
    background-color: var(--theme-table-background, white);
  }

  tbody tr:hover td {
    background-color: #eee;
  }

  tr.selected td {
    background-color: #ddd;
  }

  .selectable_cell {
    position: sticky;
    left: -1px;
    width: 1rem;
  }
</style>
