<script>
  import FileTable from "./components/FileTable.svelte";

  const files = [
    {
      name: "smss.exe",
      device: "Stark",
      path: "\\Device\\HarddiskVolume2\\Windows\\System32\\smss.exe",
      status: "scheduled",
    },

    {
      name: "netsh.exe",
      device: "Targaryen",
      path: "\\Device\\HarddiskVolume2\\Windows\\System32\\netsh.exe",
      status: "available",
    },

    {
      name: "uxtheme.dll",
      device: "Lanniester",
      path: "\\Device\\HarddiskVolume1\\Windows\\System32\\uxtheme.dll",
      status: "available",
    },

    {
      name: "cryptbase.dll",
      device: "Martell",
      path: "\\Device\\HarddiskVolume1\\Windows\\System32\\cryptbase.dll",
      status: "scheduled",
    },

    {
      name: "7za.exe",
      device: "Baratheon",
      path: "\\Device\\HarddiskVolume1\\temp\\7za.exe",
      status: "scheduled",
    },
  ];

  function downloadFiles(files) {
    window.alert(files.map((f) => `${f.device}\n${f.path}`).join("\n"));
  }
</script>

<main>
  <h1>Svelte demo</h1>
  <section>
    <FileTable {files} on:download={(ev) => downloadFiles(ev.detail)} />
  </section>
</main>

<style>
  section {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 25%);
  }
</style>
